.PICK {
    display: flex;
    width: 110vh;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    border-radius: 17px;
}

.STEP {
    background-image: url(../../assets/sidebar.svg);
    background-size: cover;
    color: white;
    width: 20vw;
    /* height: 60vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PICKS {
    display: flex;
}

.next {
    color: white;
    background-color: navy;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
  
input[type="checkbox"] {
    width: 1em;
    height: 3rem;
    accent-color: rgb(181, 87, 244);
  }
  





