.PERSONAL {
    display: flex;
    width: 110vh;
    height: 70vh;
    /* flex-wrap: wrap; */
    background-color: rgb(255, 255, 255);
    border-radius: 17px;
}
.STEP {
    background-image: url(../../assets/sidebar.svg);
    background-size: cover;
    color: white;
    width: 200px;
    height: 63vh;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-position: 25% 0%;
    
}
.STEP-CONTENT {
    display: flex;
    width: 32vw;
    justify-content: center;
    align-items: center;
}
.STEPS {
    display: flex;
    width: 200px;
    gap: 20px;
    align-items: center;
}
.STEPS p {
    font-weight: 700;
}

.PERSONAL-INFOS {
    width: 100%;
    background-color: white;
    border-radius: 17px;
    height: 70vh;
    color: navy;
    display: flex;
    justify-content: center;
}
.PERSONAL-TITLE p {
    color: rgb(182, 181, 181);
    margin-top: -3%;
    padding-bottom: 3%;
    font-size: 0.8em;
}
.PERSONAL-CONTENT {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.STEPS-TXT {
    width: 50px;
}
.STEPS-NUMBER {
    border: white 1px solid;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.STEP h6 {
    margin-bottom: -15%;
    font-weight: lighter;
}
.STEP h3 {
    font-size: 0.8em;
}
.PERSONAL-INPUT input {
    border-radius: 10px;
    border: 1px solid rgb(186, 185, 185);
    height: 30px;
    width: 90%;
    padding: 10px;
}
.PERSONAL-BTN {
    display: flex;
    justify-content: end;
    margin-top: 10%;
}
/* .PERSONAL-BTN button {
    color: white;
    background-color: navy;
    padding: 10px;
    border-radius: 10px;
    border: none;
} */
.next {
    color: white;
    background-color: navy;
    padding: 10px;
    border-radius: 10px;
    border: none;
}