.PERSONAL {
    display: flex;
    width: 120vh;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    border-radius: 17px;
}
.STEP {
    background-image: url(../../assets/sidebar.svg);
    background-size: cover;
    color: white;
    width: 20vw;
    height: 63vh;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-position: 25% 75%;
    /* justify-content: center; */
    /* align-items: center; */
    
}
.STEP-CONTENT {
    display: flex;
    width: 32vw;
    justify-content: center;
    align-items: center;
}
.STEPS {
    display: flex;
    width: 200px;
    gap: 20px;
    align-items: center;
}
.STEPS p {
    font-weight: 700;
}

.PERSONAL-INFOS {
    width: 100%;
    background-color: white;
    border-radius: 17px;
    height: 70vh;
    color: navy;
}
.STEPS-TXT {
    width: 50px;
}
.STEPS-NUMBER {
    border: white 1px solid;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.STEP h6 {
    margin-bottom: -15%;
    font-weight: lighter;
}
.STEP h3 {
    font-size: 0.8em;
}